* {
  box-sizing: border-box;
}

body {
  background-color: $color-grey-4;

  main {
    margin: 80px 20px 0 210px;
  
    .container {
      margin: 20px 0;
      background-color: $color-white;
      width: 100%;
    }
  }

  .statistics {
    box-shadow: 1px 1px 5px 1px $color-grey-2;
  }

  .links {
    box-shadow: 1px 1px 5px 1px $color-grey-2;
  }
}

main.active {
  margin: 80px 20px 0 75px;
}


/* Grid: container media queries */

// @media (min-width: $breakpoint-sm) {
//   .container-fluid {
//     max-width: 540px;
//   }
// }

// @media (min-width: $breakpoint-md) {
//   .container-fluid {
//     max-width: 720px;
//   }
// }

// @media (min-width: $breakpoint-lg) {
//   .container-fluid {
//     max-width: 960px;
//   }
// }

// @media (min-width: $breakpoint-xl) {
//   .container-fluid {
//     max-width: 1140px;
//   }
// }

/* Grid: breakpoints media queries */

// @media (min-width: $breakpoint-sm) {
//   @include grid('sm');
// }

// @media (min-width: $breakpoint-md) {
//   @include grid('md');
// }

// @media (min-width: $breakpoint-lg) {
//   @include grid('lg');
// }

// @media (min-width: $breakpoint-xl) {
//   @include grid('xl');
// }