.navbar {
  .navbar__item--icon{
    height: 19px;
    width: 18px;
    opacity: 0.5;
  }

  .icon-wallet, .icon-profile{
    margin-right: 10px;
  }

  .icon-arrow{
    height: 11px;
    width: 11px;
    margin: 0 0 0 15px;
  }
}

.sidebar{
  .menu__item--icon{
    height: 16px;
    width: 16px;
  }
}

.links img{
  height: 17px;
  width: 17px;
}

.statistics{
  &__date--icon{
    height: 14px;
    width: 14px;
    margin: 0 10px;
  }
} 

