.links {

  &__header {
    padding: 17px 0 15px 15px;
    text-transform: uppercase;
    height: 50px;
    font-size: 15px;
    border-bottom: $border;

    &--title {
      margin: 0;
    }
  }

  &__main{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__main-content{
    width: 800px;
    text-align: center;
  }

  &__table--element{
    display: inline-flex;
    border-bottom: $border;
    height: auto;
    width: 100%;
    text-decoration: none;
    font-size: 16px;
    justify-content: space-between;
    padding: 20px;
    &:hover{
      background-color: $color-grey-4;
      .links__table--icons{
      visibility: visible;
      }
    }
  }

  &__table--title{
    font-weight: bold;
    margin: 0;
    width: 150px;
    text-align: left;
  }

  &__table--url{
    color: $color-blue;
    font-weight: $font-light;
    text-align: left;
    width: 200px;

    &:hover{
      color: $color-orange-1;
    }
  }

  &__table--icons{
    visibility: hidden;
    align-items: center;
    width: 100px;
    a{
      filter:invert(50%);
      &:first-child{
        filter: invert(50%) sepia(23%) saturate(5197%) hue-rotate(358deg) brightness(100%) contrast(107%);
      }
    }
    .links__table--icon{
      margin: 0 10px;
      &:hover{
        transform: scale(1.3);
      }
    }
  }
}

@media (max-width: 850px){

  .links__table--element{
    font-size: 14px;
  }

}

@media (max-width: 767px){
  .links__table{
    &--element{
      font-size: 13px;
    }

    &--title{
      width: 100px;
    }

    &--url{
      width: 150px;
    }

    &--icons{
      width: 100px;
    }
  }
}

@media (max-width: 500px){
  .links__table{
    &--element{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

