.navbar{
  background-color: $color-white;
  border-bottom: $border;
  border-right: $border;
  width: 100%;
  justify-content: flex-end;
  display: inline-flex;
  position: fixed;
  top: 0;
  z-index: 1;

  ul{
    margin: 0;
    li{
      margin: 0;
    }
  }

  &__item{
  cursor: pointer;
  display: inline-block;
  padding: 18px;
  list-style: none;
  border-left: $border;

    &:hover {
      background: $color-grey-4;
    }

    &--price{
      font-size: 19px;
      font-weight: $font-medium;
      color: $color-grey-1;
    }

    &--user{
      font-size: 13px;
      font-weight: $font-light;
      color: $color-blue;
    }
  }

  li:nth-child(2)::after {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: $color-orange-1;
    margin-left: -8px;
  }
}

@media (max-width: 767px){
  .navbar__item--price,
  .navbar__item--user {
    display: none;
  }

}